<%inherit file='datos.html'/>

<%def name='grafico()'>
	<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1.0', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Dato');
        data.addColumn('number', 'Cantidad');
        data.addRows([
          ['C1', ${dat1}],
          ['C2', ${dat2}],
          ['C3', ${dat3}],
          ['C4', ${dat4}],
          ['C5', ${dat5}]
        ]);

        // Set chart options
        var options = {'title':'Grafico',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

</%def>

<%def name='rightColumnTitle()'>
	<h2>Pagina inicial</h2>
</%def>

<%def name='rightColumnContent()'>
	<form name="datos" method="POST"> 
	    ${gr}
	    <input type="submit" name="button" value="Enviar" />
	</form>
	<div id="chart_div"></div>

</%def>